<div class="row">
  <% @users.each do |user| %>
    <div class="col-md-3">
      <div class="card style=width:auto;">
        <div class="row">
          <div class="col-md-6">
            <%= image_tag show_pic(user), width: 50%>
          </div>
          <div class="col-md-6">
            <p>
              <% if current_user.following.include?(user.id) %>
                <%= link_to "Following", unfollow_path(id: user.id), class: "btn btn-light btn-sm", id: "unfollow-btn" %>
              <% else %>
                <% if current_user.id != user.id %>
                  <%= link_to "Follow", now_following_path(id: user.id), class: "btn btn-light btn-sm" %>
                <% end %>
              <% end %>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col">
          <%= link_to show_user_path(id: user.id) do %>
            <h5><%= user.name %></h5>
            <p>@<%= user.username %></p>
          <% end %>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p><%= user.bio %></p>
          </div>
        </div>
        <div class="row">
          <div class="col">
         <p><%= link_to "Followers", followers_path(id: user.id), class: "btn btn-light btn-sm" %>
          <%= link_to "Following", following_path(id: user.id), class: "btn btn-light btn-sm"%></p></div>
        </div>
      </div>
    </div>
  <% end %>
</div>