

<div class="dashboard">	
	<p><%= @user.name %></p>
	<p><%= @user.location %></p>
	<p><%= @user.bio %></p>
</div>

<% unless current_user.id == @user.id %>
	<% if current_user.following.include?(@user.id.to_s) %>
		<%= link_to "Unfollow", unfollow_path(id: @user.id), class: 'btn btn-light', id: 'unfollow-btn' %>
	<% else %>
		<%= link_to "Follow", now_following_path(id: @user.id), class: 'btn btn-success' %>
	<% end %>
<% end %>

<div class="main">
	<div class="tweet-box container">
		<%= image_tag show_pic(current_user), class: "tweet-box-img" %>

		<% random_tweet %>
		
		
		<%= form_for @tweet do |form| %>
		  <% if @tweet.errors.any? %>
		    <div id="error_explanation">
		      <h2><%= pluralize(tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>

		      <ul>
		      <% @tweet.errors.full_messages.each do |message| %>
		        <li><%= message %></li>
		      <% end %>
		      </ul>
		    </div>
		  <% end %>

		  <div class="field tweet-box-input">
		    <%= form.text_field :message, placeholder: "What's happening?", :autocomplete => :off, class: "clear-field" %>
		  </div>

		  <div class="field">
		    <%= form.hidden_field :user_id, value: current_user.id %>
		  </div>

		  <div class="actions">
		    <%= form.submit "Tweet", class: "float-right btn btn-primary" %>
		  </div>
		<% end %>

	</div>

	<% @following_tweets.each do |tweet| %>
		<!-- <p><%= link_to tweet.user.username, show_user_path(id: tweet.user_id) %></p>
		<p><%= tweet.message.html_safe %></p> -->
		<%= render 'tweets/tweet', tweet: tweet %>
	<% end %>

</div> 