 

<div class="dashboard">	
	<p><%= @user.name %></p>
	<p><%= @user.location %></p>
	<p><%= @user.bio %></p>
</div>

<% unless current_user.id == @user.id %>
	<% if current_user.following.include?(@user.id.to_s) %>
		<%= link_to "Unfollow", unfollow_path(id: @user.id), class: 'btn btn-light', id: 'unfollow-btn' %>
	<% else %>
		<%= link_to "Follow", now_following_path(id: @user.id), class: 'btn btn-success' %>
	<% end %>
<% end %>

<div class="main">
	
	<% @tweets.each do |tweet| %>
		<!-- <p><%= link_to tweet.user.username, show_user_path(id: tweet.user_id) %></p>
		<p><%= tweet.message.html_safe %></p> -->
		<%= render 'tweets/tweet', tweet: tweet %>
	<% end %>

</div> 