<!DOCTYPE html>
<html>
  <head>
    <title>Iterate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <!-- NAVBAR -->
<!-- app/views/layouts/application.html.erb -->
<!-- <body> -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
        <%= link_to "Home", root_path, class: "navbar-link" %><span class="sr-only">(current)</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <%= link_to "Tweet", new_tweet_path, class: "nav-link" %>
                </li>
            </ul>
            <ul class="navbar-nav float-right">
                <% if user_signed_in? %>
                    <li class="nav-item dropdown"><span class="caret"></span>
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            
                            <%= image_tag show_pic(current_user), size:25 %>
                            
                            @<%= current_user.username %>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <%= link_to "Edit Profile", edit_user_registration_path, class: "dropdown-item" %>
                            <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
                        </div>
                    </li>
                <% end %>
            </ul>
        </div>
    </nav>


  <body>
    <div class="container">
      <%= yield %>      
    </div>
  </body>
</html>
